@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    background-color: #24252a;
}
.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    margin-left: 30%;
    background-color: #24252a;
    width: 30em;
    height: 35em;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

input {
    border: none;
    background-color: rgb(209, 209, 209);
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
}
input:focus{
    outline-color: rgba(0,136,169,0.8);;
}
h1{
    color: #edf0f1;
}
.button-link {
    display: inline-block;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #fff;
    text-decoration: none;
}
